
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0e8c8; 
  color: #333;
  line-height: 1.6;
}


.logo-fixed {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 150px;
  height: auto;
  border-radius: 8px;
  z-index: 1000;
}


header {
  background-color: #a7c186;
  color: rgb(255, 255, 255);
  padding: 1rem 0.5rem;
  text-align: center;
  border-bottom: 4px solid #649345;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, transform 0.2s;
}

nav a:hover {
  color: #d7ffd9;
  transform: scale(1.05);
}

nav a.activo {
  text-decoration: underline;
}


main {
  max-width: 1000px;
  margin: 6rem auto 3rem;
  background: #7f9368;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.btn {
  display: inline-block;
  background: #ade0b3;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background: #53815b;
}


.productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background: #b3d48d;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding: 1rem;
  width: 220px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}


footer {
  background-color: #b1d8b7;
  color: white;
  text-align: center;
  padding: 1rem 0;
  border-top: 4px solid #89ad8d;
}


.sobre-nosotros h2, 
.sobre-nosotros h3 {
  color: #ffffff;
}

.sobre-nosotros ul {
  list-style: disc;
  margin-left: 2rem;
}


@media (max-width: 768px) {
  .logo-fixed {
    width: 70px;
  }

  main {
    margin: 7rem 1rem 3rem;
    padding: 1.5rem;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5rem 0;
  }
}
